/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователяz
  */

  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --background-image: url("../images/cover-image-light.png");
  --subtitle-background-color: #ff8dcb;
  --subtitle-color: #353430;
  --button-color: #353430;
  --button-border-color: #32312d66;
  --section-title-color: #353430;
  --section-text-color: #353430;
  --section-subtitle-color: #353430;
  --decor-rec-visibillity: hidden;
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --background-image: url("../images/cover-image-light.png");
    --subtitle-background-color: #ff8dcb;
    --subtitle-color: #353430;
    --button-color: #353430;
    --button-border-color: #32312d66;
    --section-title-color: #353430;
    --section-text-color: #353430;
    --section-subtitle-color: #353430;
    --decor-rec-visibillity: hidden;
    --background-color: #fff1f7;
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    --accent-color: #ff0070;
  }

  .footer-title {
    --accent-color: #ff0070;
  }
}

@media screen and (min-width: 1024px) and (prefers-color-scheme: light) {
  .header__title {
    --accent-color: #ff0070;
  }

  .header__theme-menu-button:hover {
    --button-border-color: #32312d66;
  }

  .footer-title {
    --accent-color: #ff0070;
  }
}
