/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decor-rec-visibillity: visible;
  --decor-rec-position: 10px;
  --accent-color: #ff0070;
  --main-font: "IBM Plex mono", Arial, Helvetica, sans-serif;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #00183f;
  --subtitle-background-color: #ff0070;
  --main-font-size: 18px;
  --button-color: #ff0070;
  --button-border-color: #FF007066;
  --title-description-position: 3/1/4/3;
  --page-padding: 0 10px 0 10px;
  --decorated-zone-padding: 10px;
  --header-buttons-justify: end;
  --header-buttoms-align: center;
  --header-buttoms-direction: column;
  --header-buttom-margin: 5px 0 5px 0;
  --header-theme-menu-margin: 10px;
  --header-description-margin: 13px;
  --header-title-line-height: 95.7px;
  --section-title-color: #ff0070;
  --section-text-color: #f1b2ce;
  --section-subtitle-color: #000028;
  --section-margin-top: 40px;
  --section-margin-bottom: 50px;
  --image-gap: 10px;
  --images-section-margin: 10px;
  --last-section-block: 40px;
}
